In [2]:
import re
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)

# Extracting data

In [3]:
%%time
df = pd.read_csv('chess_games.csv', nrows=500000,
                usecols=['Event', 'Result', 'UTCDate', 'Opening', 'Termination', 'AN']) # chunksize=100000, index_col=''
print(f"{len(df)} rows was extracted")

500000 rows was extracted
CPU times: total: 4.45 s
Wall time: 5.03 s

In [4]:
df.head(3)

,Event,Result,UTCDate,Opening,Termination,AN
0,Classical,1-0,2016.06.30,Slav Defense,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,0-1,2016.06.30,King's Pawn Opening: 2.b3,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,1-0,2016.06.30,Scandinavian Defense: Mieses-Kotroc Variation,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....

# Transforming data

## Filter dataframe

### Get rid of ambiguous match results and matches that was abandoned or have rules infractions

In [4]:
filt = (df['Result'] != '*') & (df['Termination'] != 'Abandoned') & (df['Termination'] != 'Rules infraction')
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

1057 rows was removed
498943 rows left

### Remove short matches (~less than 10 moves)

In [5]:
filt = df["AN"].apply(len) > 50
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

5689 rows was removed
493254 rows left

### Get rid of unstructured string values in "AN" column

In [6]:
filt = ~df['AN'].str.contains('\[%eval')
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

63866 rows was removed
429388 rows left

### Remove unpopular openings (less than 1500 matches)

In [86]:
# value_counts = df.stack().value_counts() # Entire DataFrame 
# to_remove = value_counts[value_counts <= 1500].index
# df.replace(to_remove, np.nan, inplace=True)

In [87]:
vc = df['Opening'].value_counts()
vals_to_remove = vc[vc < 1500].index.values
df['Opening'].loc[df['Opening'].isin(vals_to_remove)] = '111'
filt = df['Opening'] != '111'
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

255831 rows was removed
173557 rows left

## Expand and rearrange main dataframe

### Reset index

In [7]:
df = df.reset_index(drop=True)

### Update columns names to lowercase

In [139]:
df.columns = df.columns.str.lower()

### Add Tournament column

In [8]:
df['Tournament'] = df['Event'].str.contains('tournament')

### Rearrange column "Event"

In [9]:
df['Event'] = df['Event'].map({' Classical ': 'Classical',
                               ' Blitz ': 'Blitz',
                               ' Blitz tournament ': 'Blitz',
                               ' Correspondence ': 'Classical',
                               ' Classical tournament ': 'Classical',
                               ' Bullet tournament ': 'Bullet',
                               ' Bullet ': 'Bullet',
                               'Blitz tournament ': 'Blitz',
                               'Bullet ': 'Bullet',
                               'Classical ': 'Classical',
                               'Blitz ': 'Blitz'
                               })

### Clean the AN string to 'moves separated by space' format

In [73]:
df['AN'] = df['AN'].str.replace('[0-9]+\. | 1-0| 0-1| 1/2-1/2| \*', '', regex=True)

### Change columns datatype

In [10]:
df['Event'] = df['Event'].astype('category')
df['Result'] = df['Result'].astype('category')
df['Termination'] = df['Termination'].astype('category')
df['UTCDate'] = pd.to_datetime(df['UTCDate'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429388 entries, 0 to 429387
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Event        429388 non-null  category
 1   Result       429388 non-null  category
 2   UTCDate      429388 non-null  datetime64[ns]
 3   Opening      429388 non-null  object
 4   Termination  429388 non-null  category
 5   AN           429388 non-null  object
 6   Tournament   429388 non-null  bool
dtypes: bool(1), category(3), datetime64[ns](1), object(2)
memory usage: 11.5+ MB

## Create moves dataframe

### Create moves_total from AN column

In [78]:
def populate_moves_total(row) -> None: # s: str, ind: int
    '''
    Split each move (string) into a tuple.
    Tuple format: (match_id, move_num, player, move)
    Match_id is foreign key of the main dataframe (index column).
    Player is categorical column with values 1 for 'white' or 2 for 'black'.
    '''
    moves_list = row['AN'].split(' ')
    for i, move in enumerate(moves_list, start=1):
        player = 2 if i % 2 == 0 else 1
        tuple_move = tuple([row.name] + [i] + [player] + [move])
        moves_total.append(tuple_move)

In [79]:
%%time
%%capture
moves_total: list[tuple] = [] # template for data frame
df.apply(populate_moves_total, axis = 1)

CPU times: total: 48.4 s
Wall time: 2min 7s

In [ ]:
# CPU times: total: 1min 26s
# Wall time: 1min 51s

In [80]:
len(moves_total) # 29424621

29424621

### Convert moves_total to df_moves

In [22]:
%%time
df_moves = pd.DataFrame(moves_total, columns=['match_id', 'move_num', 'player', 'move'])

CPU times: total: 52 s
Wall time: 4min 20s

In [ ]:
# CPU times: total: 45.4 s
# Wall time: 4min 9s

In [83]:
df_moves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29424621 entries, 0 to 29424620
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   match_id  int64
 1   move_num  int64
 2   player    int64
 3   move      object
dtypes: int64(3), object(1)
memory usage: 898.0+ MB

In [86]:
df_moves['player'] = df_moves['player'].astype('int8')
df_moves['move_num'] = df_moves['move_num'].astype('int16')
df_moves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29424621 entries, 0 to 29424620
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   match_id  int64
 1   move_num  int16
 2   player    int8
 3   move      object
dtypes: int16(1), int64(1), int8(1), object(1)
memory usage: 533.2+ MB

### Drop AN column in main dataframe

In [20]:
df = df.drop('AN', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429388 entries, 0 to 429387
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Event        429388 non-null  category
 1   Result       429388 non-null  category
 2   UTCDate      429388 non-null  datetime64[ns]
 3   Opening      429388 non-null  object
 4   Termination  429388 non-null  category
 5   Tournament   429388 non-null  bool
dtypes: bool(1), category(3), datetime64[ns](1), object(1)
memory usage: 8.2+ MB

## Populate df_moves

### Make sure that all move have correct [Algebraic notation](https://en.wikipedia.org/wiki/Algebraic_notation_(chess))

#### Format:
piece_name, disambiguating (optional), capture (optional), square_name, pawn_promotion (optional), check or checkmate (optional) \
kingside or queenside castling, check or checkmate (optional)

In [87]:
filt = ~(df_moves['move'].str.match(r'(^|[KQRBN])[a-h]?[1-8]?x?[a-h][1-8](=[QRBN])?[\+#]?$') == True) \
     & ~(df_moves['move'].str.match(r'^(O-O|O-O-O)[\+#]?$')== True)
df_moves[filt]

Empty DataFrame
Columns: [match_id, move_num, player, move]
Index: []

In [22]:
m = re.match(r'(?P<piece_name>^|[KQRBN])[a-h]?[1-8]?(?P<capture>[a-h]?x)?[a-h][1-8](?P<promotion>=[QRBN])?(?P<position>[\+#])?$', 'Qh4xe1+')
m.groupdict()

{'piece_name': 'Q', 'capture': 'x', 'promotion': None, 'position': '+'}

### Add castling column

In [115]:
%%time
castling_conditions = [
    df_moves['move'] == 'O-O',
    df_moves['move'] == 'O-O+',
    df_moves['move'] == 'O-O#',
    df_moves['move'] == 'O-O-O',
    df_moves['move'] == 'O-O-O+',
    df_moves['move'] == 'O-O-O#'
]

castling_outputs = [1, 1, 1, 2, 2, 2] # 'kingside', 'kingside', 'kingside', 'queenside', 'queenside', 'queenside'

castling = np.select(castling_conditions, castling_outputs, 0)
df_moves['castling'] = pd.Series(castling.astype(np.int8))

CPU times: total: 12.3 s
Wall time: 12.3 s

### Add piece name column

In [125]:
%%time
piece_conditions = [
    df_moves['move'].str.startswith('O-O') == True, # castling is considered as a king move
    df_moves['move'].str.startswith('K') == True,
    df_moves['move'].str.startswith('Q') == True,
    df_moves['move'].str.startswith('R') == True,
    df_moves['move'].str.startswith('B') == True,
    df_moves['move'].str.startswith('N') == True,
    # df_moves['move'].str.match('[a-h]') == True # pawn don't have piece name in AN
]

piece_outputs = [1, 1, 2, 3, 4, 5] # 'king', 'king', 'queen', 'rook', 'bishop', 'knight'

piece_name = np.select(piece_conditions, piece_outputs, 6) # 'pawn'
df_moves['piece_name'] = pd.Series(piece_name.astype(np.int8))

CPU times: total: 1min 6s
Wall time: 1min 6s

### Add capture column

In [121]:
df_moves['capture'] = df_moves['move'].str.contains('x') == True

### Add pawn promotion column

In [127]:
%%time
pawn_promotion_conditions = [
    df_moves['move'].str.contains('=Q') == True,
    df_moves['move'].str.contains('=R') == True,
    df_moves['move'].str.contains('=B') == True,
    df_moves['move'].str.contains('=N') == True
]

pawn_promotion_outputs = [2, 3, 4, 5] # 'queen', 'rook', 'bishop', 'knight'

pawn_promotion = np.select(pawn_promotion_conditions, pawn_promotion_outputs, 0)
df_moves['pawn_promotion'] = pd.Series(pawn_promotion.astype(np.int8))

CPU times: total: 1min 3s
Wall time: 1min 4s

### Add position column (check, checkmate)

оптимизировать (заканчивается на)

In [128]:
%%time
position_conditions = [
    df_moves['move'].str.endswith('+') == True,
    df_moves['move'].str.endswith('#') == True,
]

position_outputs = [1, 2] # 'check', 'checkmate'

position = np.select(position_conditions, position_outputs, 0)
df_moves['position'] = pd.Series(position.astype(np.int8))

CPU times: total: 22.4 s
Wall time: 22.4 s

### Dataframe testing

In [129]:
df_moves.head()

,match_id,move_num,player,move,castling,piece_name,capture,pawn_promotion,position
0,0,1,1,d4,0,6,False,0,0
1,0,2,2,d5,0,6,False,0,0
2,0,3,1,c4,0,6,False,0,0
3,0,4,2,c6,0,6,False,0,0
4,0,5,1,e3,0,6,False,0,0

In [130]:
df_moves['position'].isna().sum()

0

In [132]:
df_moves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29424621 entries, 0 to 29424620
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   match_id        int64
 1   move_num        int16
 2   player          category
 3   move            object
 4   castling        int8
 5   piece_name      int8
 6   capture         bool
 7   pawn_promotion  int8
 8   position        int8
dtypes: bool(1), category(1), int16(1), int64(1), int8(4), object(1)
memory usage: 673.5+ MB

### Draft

In [115]:
def extract_regex(row: str):
    column_piece_name = []
    m = re.match(r'(?P<piece_name>^|[KQRBN])[a-h]?[1-8]?(?P<capture>[a-h]?x)?[a-h][1-8](?P<promotion>=[QRBN])?(?P<position>[\+#])?$', row)
    piece_name = m['piece_name']
    new_column.append(piece_name)
    capture = m['capture']
    promotion = m['promotion']
    position = m['position']
    return pd.Series([m.groupdict()])

In [121]:
extract_regex('e8=Q+')[0]['position']

'+'

In [112]:
%%time
# df_captured = df_moves['move'].apply(lambda x: extract_regex(x, full_regex))
df_captured = df_moves['move'].apply(extract_regex)

          match_id  move_num player  move piece_name
0                0         1  white    e4       None
1                0         2  black    d5       None
2                0         3  white  exd5       None
3                0         4  black  Qxd5       None
4                0         5  white   Nf3       None
...            ...       ...    ...   ...        ...
11971285    173556        89  white   Bg3       None
11971286    173556        90  black  Kxe6       None
11971287    173556        91  white   Kc3       None
11971288    173556        92  black   Kd5       None
11971289    173556        93  white   Kb4       None

[11971290 rows x 5 columns]

In [29]:
# column_piece_name = []
# for move in df_moves['move']:
#     #print(move)
#     m = re.match(r'(?P<piece_name>^|[KQRBN])[a-h]?[1-8]?(?P<capture>[a-h]?x)?[a-h][1-8](?P<promotion>=[QRBN])?(?P<position>[\+#])?$', values)
#     #print(m)
#     m.groupdict()
#     #print(m.groupdict())
#     if m['piece_name']:
#         piece_name = m['piece_name']
#     else:
#         piece_name = 'Pawn'
#     column_piece_name.append(piece_name)

# df_moves['piece_name'] = column_piece_name

In [30]:
# def castling(row: str):
#     if row['move'] == 'O-O': # re.match(r'^(O-O)[\+#]?$', row) == True:
#         return 'kingside'
#     elif row['move'] == 'O-O-O': # re.match(r'^(O-O-O)[\+#]?$', row) == True:
#         return 'queenside'
#     else:
#         return None

In [31]:
# %%time
# # df_moves['castling'] = df_moves['move'].apply(castling)
# df_moves['castling'] = df_moves.apply(castling, axis=1)

In [ ]:
# %%time
# for i, row in df.iterrows():
#     df.at[i, 'Event'] = df.at[i, 'Event']

In [ ]:
# %%time
# for i in df.index:
#     df['Event'].iloc[i] = df['Event'].iloc[i]

# Loading data

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/chess')

In [10]:
%%time
%%capture
df.to_sql('chess_games', engine, if_exists='replace', chunksize=10_000)

CPU times: total: 16 s
Wall time: 54.1 s

In [ ]:
%%time
%%capture
df_moves.to_sql('chess_moves', engine, if_exists='replace', chunksize=10_000)

In [11]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [13]:
%%time
engine = create_engine(
    'postgresql+psycopg2://root:root@localhost:5432/chess')

# Drop old table and create new empty table
df.head(0).to_sql('chess_games2', engine, if_exists='replace', index=False)

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'chess_games2', null="") # null values become ''
conn.commit()
cur.close()
conn.close()

CPU times: total: 10.5 s
Wall time: 48.2 s