In [2]:
import re
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)

# Extracting data

In [131]:
%%time
df = pd.read_csv('chess_games.csv', nrows=800_000,
                usecols=['Event', 'Result', 'Opening', 'Termination', 'AN']) #  'UTCDate',
print(f"{len(df)} rows was extracted")

800000 rows was extracted
CPU times: total: 7.52 s
Wall time: 11.2 s

In [43]:
%%time
chess_game_list = []
chunksize = 50000
for chunk in pd.read_csv('chess_games.csv', nrows=500_000, chunksize=chunksize, usecols=['Event', 'Result', 'UTCDate', 'Opening', 'Termination', 'AN']):
    chess_game_list.append(chunk)
df = pd.concat(chess_game_list)
print(f"{len(chess_game_list)*chunksize} rows was extracted")
chess_game_list = []

500000 rows was extracted
CPU times: total: 6.77 s
Wall time: 6.81 s

In [132]:
df.head(3)

,Event,Result,Opening,Termination,AN
0,Classical,1-0,Slav Defense,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,0-1,King's Pawn Opening: 2.b3,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,1-0,Scandinavian Defense: Mieses-Kotroc Variation,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....

# Transforming data

## Filter dataframe

### Get rid of ambiguous game results and games that was abandoned or have rules infractions

In [133]:
filt = (df['Result'] != '*') & (df['Termination'] != 'Abandoned') & (df['Termination'] != 'Rules infraction')
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

1745 rows was removed
798255 rows left

### Remove short games (less than ~10 moves)

In [134]:
filt = df["AN"].apply(len) > 50
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

9009 rows was removed
789246 rows left

### Get rid of unstructured string values in "AN" column

In [135]:
filt = ~df['AN'].str.contains('\[%eval')
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

101996 rows was removed
687250 rows left

### Remove rare openings (less than 1500 games)

In [136]:
# value_counts = df.stack().value_counts() # Entire DataFrame 
# to_remove = value_counts[value_counts <= 1500].index
# df.replace(to_remove, np.nan, inplace=True)

In [137]:
vc = df['Opening'].value_counts()
vals_to_remove = vc[vc < 1500].index.values
df['Opening'].loc[df['Opening'].isin(vals_to_remove)] = '111'
filt = df['Opening'] != '111'
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

335317 rows was removed
351933 rows left

### Remove long games (greater than ~80 moves)

In [138]:
# filt = df['AN'].str.len() <= 540
filt = df["AN"].apply(len) <= 540
print(f"{len(df)-len(df[filt])} rows was removed")
df = df[filt]
print(f"{len(df)} rows left")

86713 rows was removed
265220 rows left

In [139]:
df['AN'].str.len().describe()

count    265220.000000
mean        332.319448
std         119.723797
min          51.000000
25%         246.000000
50%         342.000000
75%         427.000000
max         540.000000
Name: AN, dtype: float64

## Expand and rearrange main dataframe

### Reset index

In [140]:
df = df.reset_index(drop=True)

### Update columns names to lowercase

In [141]:
df.columns = df.columns.str.lower()

### Add Tournament column

In [142]:
df['tournament'] = df['event'].str.contains('tournament')

### Rearrange column "Event"

In [143]:
df['event'] = df['event'].map({' Classical ': 'Classical',
                               ' Blitz ': 'Blitz',
                               ' Blitz tournament ': 'Blitz',
                               ' Correspondence ': 'Classical',
                               ' Classical tournament ': 'Classical',
                               ' Bullet tournament ': 'Bullet',
                               ' Bullet ': 'Bullet',
                               'Blitz tournament ': 'Blitz',
                               'Bullet ': 'Bullet',
                               'Classical ': 'Classical',
                               'Blitz ': 'Blitz'
                               })

### Clean the AN string to 'moves separated by space' format

In [144]:
df['an'] = df['an'].str.replace('[0-9]+\. | 1-0| 0-1| 1/2-1/2| \*', '', regex=True)

### Change columns datatype

In [145]:
df['event'] = df['event'].astype('category')
df['result'] = df['result'].astype('category')
df['termination'] = df['termination'].astype('category')
# df['utcdate'] = pd.to_datetime(df['utcdate'])

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265220 entries, 0 to 265219
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   event        265220 non-null  category
 1   result       265220 non-null  category
 2   opening      265220 non-null  object
 3   termination  265220 non-null  category
 4   an           265220 non-null  object
 5   tournament   265220 non-null  bool
dtypes: bool(1), category(3), object(2)
memory usage: 5.1+ MB

## Create moves dataframe

### Create moves_total from AN column

In [147]:
def populate_moves_total(row) -> None: # s: str, ind: int
    '''
    Split each move (string) into a tuple.
    Tuple format: (game_id, move_num, player, move)
    Game_id is foreign key of the main dataframe (index column).
    Player is categorical column with values 1 for 'white' or 2 for 'black'.
    '''
    moves_list = row['an'].split(' ')
    for i, move in enumerate(moves_list, start=1):
        player = 2 if i % 2 == 0 else 1
        tuple_move = tuple([row.name] + [i] + [player] + [move])
        moves_total.append(tuple_move)

In [148]:
%%time
%%capture
moves_total: list[tuple] = [] # template for data frame
df.apply(populate_moves_total, axis = 1)

CPU times: total: 20.8 s
Wall time: 21 s

In [30]:
%%timeit
%%capture
moves_total: list[tuple] = [] # template for data frame
for i_row, row in df.iterrows():
    moves_list = row['an'].split(' ')
    for i, move in enumerate(moves_list, start=1):
        player = 2 if i % 2 == 0 else 1
        tuple_move = tuple([i_row] + [i] + [player] + [move])
        moves_total.append(tuple_move)

7.01 s ± 548 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [33]:
%%timeit
%%capture
moves_total: list[tuple] = [] # template for data frame
for i_row in df.index:
    s = df['an'].iloc[i_row]
    moves_list = s.split(' ')
    for i, move in enumerate(moves_list, start=1):
        player = 2 if i % 2 == 0 else 1
        tuple_move = tuple([i_row] + [i] + [player] + [move])
        moves_total.append(tuple_move)

4.29 s ± 304 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [149]:
len(moves_total) # 2915062

14596669

### Convert moves_total to df_moves

In [51]:
%%time
df_moves = pd.DataFrame(moves_total, columns=['game_id', 'move_num', 'player', 'move'])

CPU times: total: 1min 4s
Wall time: 6min 58s

In [ ]:
# CPU times: total: 45.4 s
# Wall time: 4min 9s

In [52]:
df_moves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34822944 entries, 0 to 34822943
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   game_id   int64
 1   move_num  int64
 2   player    int64
 3   move      object
dtypes: int64(3), object(1)
memory usage: 1.0+ GB

In [53]:
df_moves['player'] = df_moves['player'].astype('int8')
df_moves['move_num'] = df_moves['move_num'].astype('int16')
df_moves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34822944 entries, 0 to 34822943
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   game_id   int64
 1   move_num  int16
 2   player    int8
 3   move      object
dtypes: int16(1), int64(1), int8(1), object(1)
memory usage: 631.0+ MB

### Drop AN column in main dataframe

In [55]:
df = df.drop('an', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505481 entries, 0 to 505480
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   event        505481 non-null  category
 1   result       505481 non-null  category
 2   utcdate      505481 non-null  datetime64[ns]
 3   opening      505481 non-null  object
 4   termination  505481 non-null  category
 5   tournament   505481 non-null  bool
dtypes: bool(1), category(3), datetime64[ns](1), object(1)
memory usage: 9.6+ MB

## Populate df_moves

### Make sure that all move have correct [Algebraic notation](https://en.wikipedia.org/wiki/Algebraic_notation_(chess))

#### Format:
piece_name, disambiguating (optional), capture (optional), square_name, pawn_promotion (optional), check or checkmate (optional) \
kingside or queenside castling, check or checkmate (optional)

In [87]:
filt = ~(df_moves['move'].str.match(r'(^|[KQRBN])[a-h]?[1-8]?x?[a-h][1-8](=[QRBN])?[\+#]?$') == True) \
     & ~(df_moves['move'].str.match(r'^(O-O|O-O-O)[\+#]?$')== True)
df_moves[filt]

Empty DataFrame
Columns: [match_id, move_num, player, move]
Index: []

In [22]:
m = re.match(r'(?P<piece_name>^|[KQRBN])[a-h]?[1-8]?(?P<capture>[a-h]?x)?[a-h][1-8](?P<promotion>=[QRBN])?(?P<position>[\+#])?$', 'Qh4xe1+')
m.groupdict()

{'piece_name': 'Q', 'capture': 'x', 'promotion': None, 'position': '+'}

### Add castling column

In [56]:
%%time
castling_conditions = [
    df_moves['move'] == 'O-O',
    df_moves['move'] == 'O-O+',
    df_moves['move'] == 'O-O#',
    df_moves['move'] == 'O-O-O',
    df_moves['move'] == 'O-O-O+',
    df_moves['move'] == 'O-O-O#'
]

castling_outputs = [1, 1, 1, 2, 2, 2] # 'kingside', 'kingside', 'kingside', 'queenside', 'queenside', 'queenside'

castling = np.select(castling_conditions, castling_outputs, 0)
df_moves['castling'] = pd.Series(castling.astype(np.int8))

CPU times: total: 14 s
Wall time: 14.1 s

### Add piece name column

In [57]:
%%time
piece_conditions = [
    df_moves['move'].str.startswith('O-O') == True, # castling is considered as a king move
    df_moves['move'].str.startswith('K') == True,
    df_moves['move'].str.startswith('Q') == True,
    df_moves['move'].str.startswith('R') == True,
    df_moves['move'].str.startswith('B') == True,
    df_moves['move'].str.startswith('N') == True,
    # df_moves['move'].str.match('[a-h]') == True # pawn don't have piece name in AN
]

piece_outputs = [1, 1, 2, 3, 4, 5] # 'king', 'king', 'queen', 'rook', 'bishop', 'knight'

piece_name = np.select(piece_conditions, piece_outputs, 6) # 'pawn'
df_moves['piece_name'] = pd.Series(piece_name.astype(np.int8))

CPU times: total: 1min 18s
Wall time: 1min 18s

### Add capture column

In [58]:
df_moves['capture'] = df_moves['move'].str.contains('x') == True

### Add pawn promotion column

In [59]:
%%time
pawn_promotion_conditions = [
    df_moves['move'].str.contains('=Q') == True,
    df_moves['move'].str.contains('=R') == True,
    df_moves['move'].str.contains('=B') == True,
    df_moves['move'].str.contains('=N') == True
]

pawn_promotion_outputs = [2, 3, 4, 5] # 'queen', 'rook', 'bishop', 'knight'

pawn_promotion = np.select(pawn_promotion_conditions, pawn_promotion_outputs, 0)
df_moves['pawn_promotion'] = pd.Series(pawn_promotion.astype(np.int8))

CPU times: total: 1min 12s
Wall time: 1min 12s

### Add position column (check, checkmate)

In [60]:
%%time
position_conditions = [
    df_moves['move'].str.endswith('+') == True,
    df_moves['move'].str.endswith('#') == True,
]

position_outputs = [1, 2] # 'check', 'checkmate'

position = np.select(position_conditions, position_outputs, 0)
df_moves['position'] = pd.Series(position.astype(np.int8))

CPU times: total: 26.4 s
Wall time: 26.3 s

### Dataframe testing

In [61]:
df_moves.head()

,game_id,move_num,player,move,castling,piece_name,capture,pawn_promotion,position
0,0,1,1,d4,0,6,False,0,0
1,0,2,2,d5,0,6,False,0,0
2,0,3,1,c4,0,6,False,0,0
3,0,4,2,c6,0,6,False,0,0
4,0,5,1,e3,0,6,False,0,0

In [62]:
df_moves['position'].isna().sum()

0

In [63]:
df_moves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34822944 entries, 0 to 34822943
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   game_id         int64
 1   move_num        int16
 2   player          int8
 3   move            object
 4   castling        int8
 5   piece_name      int8
 6   capture         bool
 7   pawn_promotion  int8
 8   position        int8
dtypes: bool(1), int16(1), int64(1), int8(5), object(1)
memory usage: 797.0+ MB

### Draft

In [115]:
def extract_regex(row: str):
    column_piece_name = []
    m = re.match(r'(?P<piece_name>^|[KQRBN])[a-h]?[1-8]?(?P<capture>[a-h]?x)?[a-h][1-8](?P<promotion>=[QRBN])?(?P<position>[\+#])?$', row)
    piece_name = m['piece_name']
    new_column.append(piece_name)
    capture = m['capture']
    promotion = m['promotion']
    position = m['position']
    return pd.Series([m.groupdict()])

In [121]:
extract_regex('e8=Q+')[0]['position']

'+'

In [112]:
%%time
# df_captured = df_moves['move'].apply(lambda x: extract_regex(x, full_regex))
df_captured = df_moves['move'].apply(extract_regex)

          match_id  move_num player  move piece_name
0                0         1  white    e4       None
1                0         2  black    d5       None
2                0         3  white  exd5       None
3                0         4  black  Qxd5       None
4                0         5  white   Nf3       None
...            ...       ...    ...   ...        ...
11971285    173556        89  white   Bg3       None
11971286    173556        90  black  Kxe6       None
11971287    173556        91  white   Kc3       None
11971288    173556        92  black   Kd5       None
11971289    173556        93  white   Kb4       None

[11971290 rows x 5 columns]

In [29]:
# column_piece_name = []
# for move in df_moves['move']:
#     #print(move)
#     m = re.match(r'(?P<piece_name>^|[KQRBN])[a-h]?[1-8]?(?P<capture>[a-h]?x)?[a-h][1-8](?P<promotion>=[QRBN])?(?P<position>[\+#])?$', values)
#     #print(m)
#     m.groupdict()
#     #print(m.groupdict())
#     if m['piece_name']:
#         piece_name = m['piece_name']
#     else:
#         piece_name = 'Pawn'
#     column_piece_name.append(piece_name)

# df_moves['piece_name'] = column_piece_name

In [30]:
# def castling(row: str):
#     if row['move'] == 'O-O': # re.match(r'^(O-O)[\+#]?$', row) == True:
#         return 'kingside'
#     elif row['move'] == 'O-O-O': # re.match(r'^(O-O-O)[\+#]?$', row) == True:
#         return 'queenside'
#     else:
#         return None

In [ ]:
# %%time
# for i, row in df.iterrows():
#     df.at[i, 'Event'] = df.at[i, 'Event']

In [ ]:
# %%time
# for i in df.index:
#     df['Event'].iloc[i] = df['Event'].iloc[i]

# Loading data

### Load to Postgres containter

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/chess')

In [10]:
%%time
%%capture
df.to_sql('chess_games', engine, if_exists='replace', chunksize=10_000)

CPU times: total: 16 s
Wall time: 54.1 s

In [ ]:
%%time
%%capture
df_moves.to_sql('chess_moves', engine, if_exists='replace', chunksize=10_000)

### Load to csv

In [66]:
%%time
df.to_csv('tableau_chess_games.csv')

CPU times: total: 2.33 s
Wall time: 2.41 s

In [ ]:
%%time
df_moves.to_csv('tableau_chess_moves.csv')